{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" />
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
                <span class="logo-text">Мой <br> Не <br> Сам</span>
            </a>
        </div>
        <ul class="main-menu">
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">ВЫХОД</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">АВТОРИЗАЦИЯ</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">РЕГИСТРАЦИЯ</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</div>
<script src="{% static 'app.js' %}"></script>
</body>

</html>