{% extends 'myapp/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<div class="content-section">
    <form method="POST" class="my-form">
        {% csrf_token %}
        {% for field in form %}
        <p class="form-label">{{ field.label }}</p>
        <p>{{ field }}</p>
        {% endfor %}
        <button class="btn btn-outline-info" type="submit">Регистрация</button>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Уже есть аккаунт? <a class="ml-2" href="/">Вход</a>
        </small>
    </div>
</div>
{% endblock %}